@import url(../style/bootstrap.css);
@import url(../style/_utility.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@font-face {
    font-family: "roboto-400";
    src: url(../fonts/Roboto-Regular.woff2) format("woff2");
}
@font-face {
    font-family: "roboto-700";
    src: url(../fonts/Roboto-Bold.woff2) format("woff2");
}
html{
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    margin:0;
    color: black;
}