@import url(../style/_reset.css);

.container{
    height: 812px;
    max-width: 375px;
    background-color: var(--bg-color);
    padding-left: 2rem;
    padding-right: 2rem;
}
.second-bg-img{
    margin-top: -6.1rem;
    margin-left: -7.8rem;
}
.first-bg-img{
    margin-left: -2rem;
}
.personal-div{
    margin-top: -9rem;
}
.tell-us-div{
    margin-top: 2.1rem;
}
.name{
    margin-top: 7rem;
}
.line-1{
    height: 0.1rem;
}
.email{
    margin-top: 2.4rem;
}
.button-1{
    border: none;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    box-shadow: 0px 4px 5px 0px rgba(114, 114, 114, 0.47);
}
.button-div{
    margin-top: 4.9rem;
}